[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
jax = "*"
optax = "*"
dm-haiku = "*"
dm-env = "*"
pandas = "*"
tqdm = "*"
trueskill = "*"
rlax = "*"
nbconvert = "<6"
guildai = "*"
dm-acme = {editable = true, path = "./local_deps/acme"}
black = "*"
reverb = "*"
mypy = "*"
numpy = "*"
nptyping = "*"
gym = "*"
open-spiel = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.8"
