[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
jax = {extras = ["cuda110"], version = "*"}
optax = "*"
dm-haiku = "*"
dm-env = "*"
pandas = "*"
tqdm = "*"
trueskill = "*"
rlax = "*"
nbconvert = "<6"
guildai = "*"
dm-acme = {editable = true, path = "./local_deps/acme"}
black = "==21.7b0"
mypy = "*"
numpy = "*"
nptyping = "*"
gym = "*"
open-spiel = "*"
dm-reverb = "==0.3.0"
tensorflow = "==2.5.0"
pytest-mock = "*"
pytest-kwparametrize = "*"
chex = "*"
ipython = "*"
jupyter = "*"
pytest = "*"
moozi = {editable = true, path = "."}
rope = "*"
anytree = "*"
debugpy = "*"
ray = {extras = ["default"], version = "*"}
snakeviz = "*"
aiohttp = "==3.7"
matplotlib = "*"
typing-extensions = "*"
trio = "*"
attrs = "*"
pytest-trio = "*"
trio-asyncio = "*"
filelock = "==v3.0.12"

[dev-packages]
mypy = "*"
ipykernel = "*"
black = "*"
scikit-image = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
