[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
jax = {extras = ["cuda110"], version = "*"}
optax = "*"
dm-haiku = "*"
dm-env = "*"
pandas = "*"
tqdm = "*"
trueskill = "*"
rlax = "*"
nbconvert = "<6"
guildai = "*"
dm-acme = {editable = true, path = "./local_deps/acme"}
black = "*"
mypy = "*"
numpy = "*"
nptyping = "*"
gym = "*"
open-spiel = "*"
dm-reverb = "*"
tensorflow = "==2.5.0"
pytest-mock = "*"
pytest-kwparametrize = "*"
chex = "*"
ipython = "*"
jupyter = "*"
pytest = "*"
moozi = {editable = true, path = "."}
rope = "*"
anytree = "*"
debugpy = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
